<h1 class="text-3xl font-bold mb-6">Editar Productor</h1>

<%= simple_form_for [:admin, @user], html: { class: "bg-base-100 p-6 rounded-box shadow max-w-lg" } do |f| %>
  <div class="mb-4">
    <p class="font-semibold"><%= @user.full_name %></p>
    <p class="text-sm text-gray-500"><%= @user.email %></p>
  </div>

  <%= f.input :status, collection: User.statuses.keys, include_blank: false %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :phone %>

  <div class="flex gap-2">
    <%= f.button :submit, "Actualizar", class: "btn btn-primary" %>
    <%= link_to "Cancelar", admin_users_path, class: "btn btn-ghost" %>
  </div>
<% end %>
